html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	max-width: 100vw;
}

body {
	color: #555;
	padding: 0px 0 0px;
	background-color: #708090;
	transition: background-color 0.3s ease-in-out;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 63px;
	line-height: 50px;
	padding: 30px 0;
	background: #375899;
	border-bottom: 1px solid #ccc;
	padding: 0;
	z-index: 1;
}

img {
	-webkit-user-drag: none;
	user-select: none;
	-webkit-user-select: none;
}

.float {
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
	-moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
	-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	cursor: pointer;
	text-align: center;
}

.float:hover {
	background-color: rgba(255, 255, 255, 1);
}

.cell {
	position: relative;
	width: 13vw;
	height: 20vh;
	margin-left: 1em;
	margin-bottom: 1em;
}

.cell:hover {
	transform-origin: center;
	transform: scale(1.05);
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
}

.cell-container {
	display: inline-grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
	position: relative;
	left: 0;
	top: 120px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.cell .img-container{
	height: 70%;
	overflow: hidden;
}

.cell img {
	object-fit: cover;
	max-height: 14vh;
}

.cell .title {
	font-weight: bold;
	/*font-size: 150%;*/
	user-select: none;
}

.cell .content {
	color: #333;
	font-size: 80%;
	user-select: none;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	max-width: 100vw;
	overflow-x: hidden;
}

.wrapper:after {
	content: " ";
	display: block;
	clear: both;
}

.title-left {
	display: inline-block;
	font-size: 25px;
	color: #eee;
	user-select: none;
}

.title-center, .title-right {
	display: inline-block;
	/*height: 10px;*/
	font-size: 22px;
	font-weight: bold;
	color: #eee;
	line-height: 25px;
	text-align: center;
	user-select: none;
	cursor: pointer;
}

.wrapper .title-center, .title-right {
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color 0.3s ease;
}

.wrapper .title-center {
	padding: 19px 10px 19px;
	margin-left: 10px;
	width: 140px;
	text-decoration: none;
}

.wrapper .title-right {
	font-size: 20px;
	line-height: 20px;
	padding: 10px ;
	border-radius: 10px;
	width: 30px;
	top: 10px;
}

.wrapper .title-center:hover:not(.title-selected), .title-right:hover:not(.title-selected) {
	background-color: rgba(0, 0, 0, 0.3);
}

.wrapper .title-center:active, .title-right:active {
	background-color: rgba(0, 0, 0, 0.5);
}

.wrapper .title-selected {
	background-color: rgba(0, 0, 0, 0.5);
}

.guide-container {
	display: inline-block;
	position: fixed;
	left: 32%;
	margin-left: -180px;
	top: 0;
}

.left-container {
	display: inline-block;
	position: fixed;
	left: 0;
	top: 0;
}

.nav-block {
	position: fixed;
	width: 100%;
	height: 64px;
}

.right-action-container {
	display: inline-block;
	position: fixed;
	right: 1vw;
	top: 0;
}

span {
	display: inline-block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#progress-bar {
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0;
	background-color: rgba(51, 255, 153, 0.5);
	transition: width 0.1s ease, background-color 0.6s ease-in-out;
}

#message-box {
	position: fixed;
	top: -100px;
	left: 50%;
	opacity: 0;
	transform: translateX(-50%);
	padding: 0 20px;
	line-height: 2em;
}

#message-box.slide-in {
	top: 10px;
	opacity: 1;
}

.play-icon {
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
}

#sort-selector {
	display: inline-block;
	position: relative;
	top: 90px;
	left: 1em;
	line-height: 2em;
	width: fit-content;
	padding: 0 20px;
	user-select: none;
}

#sort-direction {
	display: inline-block;
	position: relative;
	top: 97px;
	left: 2em;
	height: 5px;
	width: 5px;
	user-select: none;
	border-radius: 50%;
	background-size: cover;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
}

#sort-panel {
	position: absolute;
	top: 130px;
	left: 1em;
	max-height: 0;
	width: fit-content;
	padding: 0;
	overflow: hidden;
	text-align: left;
}

#sort-panel.slide-in {
	max-height: 100%;
}

.option {
	display: inline-block;
	padding: 10px 10px 10px 0;
}

.option-container:hover {
	background-color: rgba(209, 209, 209, 0.8);
}

.before-option {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: auto 10px;
	background-size: cover;
	max-height: 100%;
}

.reverse-z {
	transform: rotateZ(-180deg);
}

#totop {
	z-index: 1;
	position: fixed;
	right: 1em;
	bottom: -90px;
	height: 50px;
	user-select: none;
	filter: drop-shadow(2px 2px 2px #333);
	transition: filter 0.3s ease-in-out, height 0.1s ease-in-out, opacity 0.1s ease-in-out, bottom 0.1s;
	opacity: 0.8;
	cursor: pointer;
}

#totop:hover {
	filter: drop-shadow(5px 5px 5px #333);
	opacity: 1;
}

#totop.slide-in {
	bottom: 1em;
}

@media only screen and (max-width: 425px) {
	.cell-container {
		grid-template-columns: repeat(2, 1fr);
		left: 0;
		height: auto;
	}
	.cell {
		width: 37vw;
		margin-left: 1em;
		margin-bottom: 1em;
	}
}